@import '_common.scss';
@import '_mixin.scss';

header>div{
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0; top: 0;
    padding: 2.5rem;
    transition: .5s;
    @include flex(space-between,center,nowrap,row);

    .visible-menu{ 
        @include flex(space-between,center,nowrap,row);       
        .login{
            margin: 0 30px;
            font-family: 'Roboto', sans-serif; font-size: 0.95em;
            a{
                color: #fff;
            }
            span{
                display: inline-block;
                border-left: 1px solid $white-t;
                height: 10px;
                margin: 0 10px;
            }
        }
        .burger{
            width: 50px;
            @include flex(center,center,nowrap,column); 
            cursor: pointer;
            overflow: hidden;
            z-index: 100;
            span{
                display: block;
                position: relative;
                width: 80%; height: 2px;
                background-color: #fff;
                margin: 5px 0;
                transition: 1s;
            }
            span::before{
                content: '';
                width: 100%; height: 100%;
                position:absolute;
                left: -300%; top: 0;
                background-color: #fff;
            }
            span:nth-child(2){transition-delay: .3s;}
            &:hover{
                span{
                    transform: translateX(300%);
                }
            }
            .burger1.active{
                transform: rotate(45deg) translateX(10px); background-color: #000;
            }
            .burger2.active{
                transform: rotate(-45deg) translateX(10px); background-color: #000;
            }
        }
    }
    .hidden-menu-inactive{transform: translateX(100%);}
    .hidden-menu-active{transform: translateX(0);}
    .hidden-menu{
        z-index: 30;
        position: absolute;
        right: 0; top: 0;
        width: 80%; height: 100vh;
        transition: .5s;
        @include flex(space-between,center,nowrap,row);
        .menu-collection{
            position: relative;            
            width: 70%; height: 100%;
            background-color: #fff;
            padding: 8rem;
            @include flex(space-between,flex-end,nowrap,row);
            .main-menu{
                width: 70%;
                p{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.2rem; color: $light-brown; font-weight: 400;
                    margin-bottom: 15px;
                }
                @keyframes menuUp {
                    0%{transform: translateY(100%);}
                    100%{transform: translateY(0%);}
                }
                div{
                    overflow: hidden;
                    margin-top: 15px;
                    span{
                        display: inline-block;
                        height: 100%;                        
                        position: relative;
                        transform: translateY(100%);
                        animation: menuUp 1s forwards;
                        a{
                            font-family: 'DM Serif Display', serif;
                            font-size: 2.7rem; color: #000; font-weight: 400;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: 0; bottom: 14px;
                            width: 120%; height: 1px;
                            background-color: rgba(0, 0, 0, 0);
                        }
                        &:hover{
                            font-style: italic;
                            &::after{
                                background-color: #000;
                            }
                        }
                    }
                }
                div:nth-of-type(2)>span{animation-delay: .3s;}
                div:nth-of-type(3)>span{animation-delay: .6s;}
                div:nth-of-type(4)>span{animation-delay: .9s;}
                div:nth-of-type(5)>span{animation-delay: 1.2s;}
                div:nth-of-type(6)>span{animation-delay: 1.5s;}
            }
            .sub-menu{
                width: 30%; height: 40vh;
                align-self:flex-end;
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                padding: 2rem;
                visibility: hidden;
                @include flex(flex-end,flex-start,nowrap,column);
                p{
                    margin-top: 15px;
                    a{
                        font-family: 'DM Serif Display', serif;
                        font-size: 1.5rem; color: $font-grey; font-weight: 400;
                    }                    
                }
            }
        }
        .hidden-contact{
            position: relative;
            width: 30%; height: 100%;
            background: url('../img/all_bg2.jpg') center center / cover no-repeat;
            padding: 3rem;
            padding-top: 8rem;

            div{
                h4{
                    font-family: 'DM Serif Display', serif;
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
                p{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem; color:rgb(17, 49, 31); font-weight: 400;
                    margin-bottom: 50px;
                }
                a>button{
                    padding: 12px 35px;
                    border: none;
                    background-color: rgb(146, 146, 146);
                    color: #fff; font-size: 1.2rem;
                    font-family: 'DM Serif Display', serif;
                    margin-top: 30px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    } 
}
nav{
    span{
        padding: 3.5rem 0;
        position: relative;
        a{
            color: #fff; font-weight: 400; padding: 0 20px;
        }
        &::after{
            content:'';
            position: absolute;
            right: 0; bottom: 0;
            width: 0%; height: 2px;
            background-color: $light-brown;
            transform: translateX(50%);
            transition: .5s;
        }
        &:hover{
            &::after{
                width: 100%;
                transform: translateX(0%);
            }   
        }
    }
}

footer>div{
    width: 100%; height: 40vh;
    padding: 4rem 20rem;
    background-color: $bg-grey;
    // transform: translateY(40vh);
    >div{
        @include flex(space-between,flex-start,nowrap,row);
    }   
    >a{
        position: absolute;
        right: 12rem; bottom: 10rem;
        img{
            width: 80%;
            transform: translateY(10vh);
        }
    }
}
.info{
    p{
        color: $font-grey; font-weight: 500;
        margin-bottom: 10px;
        span{
            display: inline-block;
            margin: 0 20px;
        }
        .space1{
            margin: 0 40px;
        }
        .space3{
            border-left: 1px solid $white-t;
            height: 10px;
        }
    }
    p:nth-child(1){
        a{color: rgba(255, 255, 255, 0.8); font-weight: 700;}
    }
    p:nth-child(2){
        margin: 30px 0;
        color: $brown; font-size: 1.4rem; font-weight: 900;
    }
}





//=======================================tablet===================================
//================================================================================
@media (min-width:$mobile) and (max-width:$tablet){
    header>div{
        width: 100%;
        z-index: 100;
        position: fixed;
        left: 0; top: 0;
        padding: 1.7rem 2.5rem;
        @include flex(space-between,center,nowrap,row);

        a{
            img{width: 60%;}
        }    
        .visible-menu{ 
            @include flex(space-between,center,nowrap,row);       
            .login{
                margin: 0 30px;
                font-family: 'Roboto', sans-serif; font-size: 0.8em;
                a{
                    color: #fff;
                }
                span{
                    display: inline-block;
                    border-left: 1px solid $white-t;
                    height: 10px;
                    margin: 0 10px;
                }
            }
            .burger{
                width: 40px;
                @include flex(center,center,nowrap,column); 
                cursor: pointer;
                overflow: hidden;
                z-index: 100;
                span{
                    display: block;
                    position: relative;
                    width: 80%; height: 2px;
                    background-color: #fff;
                    margin: 5px 0;
                    transition: 1s;
                }
                span::before{
                    content: '';
                    width: 100%; height: 100%;
                    position:absolute;
                    left: -300%; top: 0;
                    background-color: #fff;
                }
                span:nth-child(2){transition-delay: .3s;}
                &:hover{
                    span{
                        transform: translateX(300%);
                    }
                }
                .burger1.active{
                    transform: rotate(45deg) translateX(10px); background-color: #000;
                }
                .burger2.active{
                    transform: rotate(-45deg) translateX(10px); background-color: #000;
                }
            }
        }
        .hidden-menu-inactive{transform: translateX(100%);}
        .hidden-menu-active{transform: translateX(0);}
        .hidden-menu{
            z-index: 30;
            position: absolute;
            right: 0; top: 0;
            width: 100%; height: 100vh;
            transition: .5s;
            @include flex(space-between,center,nowrap,row);
            .menu-collection{
                position: relative;
                width: 65%; height: 100%;
                background-color: #fff;
                padding: 8rem 2rem;
                @include flex(space-between,flex-end,nowrap,row);
                .main-menu{
                    width: 100%;
                    p{
                        font-family: 'DM Serif Display', serif;
                        font-size: 1.2rem; color: $light-brown; font-weight: 400;
                        margin-bottom: 15px;
                    }
                    @keyframes menuUp {
                        0%{transform: translateY(100%);}
                        100%{transform: translateY(0%);}
                    }
                    div{
                        overflow: hidden;
                        margin-top: 10px;
                        span{
                            display: inline-block;
                            height: 100%;                        
                            position: relative;
                            transform: translateY(100%);
                            animation: menuUp 1s forwards;
                            a{
                                font-family: 'DM Serif Display', serif;
                                font-size: 3.5rem; color: #000; font-weight: 400;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                left: 0; bottom: 14px;
                                width: 120%; height: 1px;
                                background-color: rgba(0, 0, 0, 0);
                            }
                            &:hover{
                                font-style: italic;
                                &::after{
                                    background-color: #000;
                                }
                            }
                        }
                    }
                    div:nth-of-type(2)>span{animation-delay: .3s;}
                    div:nth-of-type(3)>span{animation-delay: .6s;}
                    div:nth-of-type(4)>span{animation-delay: .9s;}
                    div:nth-of-type(5)>span{animation-delay: 1.2s;}
                    div:nth-of-type(6)>span{animation-delay: 1.5s;}
                }
                .sub-menu{
                    width: 30%; height: 40vh;
                    align-self: flex-end;
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 2rem;
                    visibility: hidden;
                    @include flex(flex-end,flex-start,nowrap,column);

                    display: none;

                    p{
                        margin-top: 15px;
                        a{
                            font-family: 'DM Serif Display', serif;
                            font-size: 1.5rem; color: $font-grey; font-weight: 400;
                        }                    
                    }
                }
            }
            .hidden-contact{
                width: 35%; height: 100%;
                background: url('../img/all_bg2.jpg') center center / cover no-repeat;
                padding: 3rem;
                padding-top: 8rem;
                div{
                    h4{
                        font-family: 'DM Serif Display', serif;
                        font-size: 1.2rem;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 0.9rem; color:rgb(17, 49, 31); font-weight: 400;
                        margin-bottom: 30px;
                    }
                    a>button{
                        padding: 15px 35px;
                        border: none;
                        background-color: rgb(146, 146, 146);
                        color: #fff; font-size: 0.8rem;
                        font-family: 'DM Serif Display', serif;
                        margin-top: 30px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    nav{
        display: none;
        span{
            padding: 3.5rem 0;
            position: relative;
            a{
                color: #fff; font-weight: 400; padding: 0 20px;
            }
            &::after{
                content:'';
                position: absolute;
                right: 0; bottom: 0;
                width: 0%; height: 2px;
                background-color: $light-brown;
                transform: translateX(50%);
                transition: .5s;
            }
            &:hover{
                &::after{
                    width: 100%;
                    transform: translateX(0%);
                }   
            }
        }
    }
    
    footer>div{
        position: relative;
        left: 0; bottom: 0vh;
        width: 100%; height: 45vh;
        padding: 3em;
        background-color: $bg-grey;
        // transform: translateY(40vh);
        >div{
            @include flex(space-between,flex-start,nowrap,row);
        }   
        >a{
            position: absolute;
            right: 12rem; bottom: 10rem;
            display: none;
            img{
                width: 80%;
                transform: translateY(10vh);
            }
        }
    }
    .info{
        p{
            color: $font-grey; font-weight: 500;
            margin-bottom: 10px;
            font-size: 1rem;
            span{
                display: inline-block;
                margin: 0 20px;
            }
            .space1{
                margin: 0 40px;
            }
            .space3{
                border-left: 1px solid $white-t;
                height: 10px;
            }
        }
        p:nth-child(1){
            a{color: rgba(255, 255, 255, 0.8); font-weight: 700;}
        }
        p:nth-child(2){
            margin: 30px 0;
            color: $brown; font-size: 1.3rem; font-weight: 900;
        }
    }
}




//=======================================mobile===================================
//================================================================================
@media (max-width:$mobile){
    header>div{
        width: 100%;
        z-index: 100;
        position: fixed;
        left: 0; top: 0;
        padding: 1.7rem 2.5rem;
        @include flex(space-between,center,nowrap,row);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        
        a{
            img{width: 70%;}
        }
        .visible-menu{ 
            @include flex(space-between,center,nowrap,row);       
            .login{
                margin: 0 30px;
                font-family: 'Roboto', sans-serif; font-size: 0.8em;
                display: none;
                a{
                    color: #fff;
                }
                span{
                    display: inline-block;
                    border-left: 1px solid $white-t;
                    height: 10px;
                    margin: 0 10px;
                }
            }
            .burger{
                width: 50px;
                @include flex(center,center,nowrap,column); 
                cursor: pointer;
                overflow: hidden;
                z-index: 100;
                span{
                    display: block;
                    position: relative;
                    width: 80%; height: 2px;
                    background-color: #fff;
                    margin: 7px 0;
                    transition: 1s;
                }
                span::before{
                    content: '';
                    width: 100%; height: 100%;
                    position:absolute;
                    left: -300%; top: 0;
                    background-color: #fff;
                }
                span:nth-child(2){transition-delay: .3s;}
                &:hover{
                    span{
                        transform: translateX(300%);
                    }
                }
                .burger1.active{
                    transform: rotate(45deg) translateX(10px); background-color: #000;
                }
                .burger2.active{
                    transform: rotate(-45deg) translateX(10px); background-color: #000;
                }
            }
        }
        .hidden-menu-inactive{transform: translateX(100%);}
        .hidden-menu-active{transform: translateX(0);}
        .hidden-menu{
            z-index: 30;
            position: absolute;
            right: 0; top: 0;
            width: 100%; height: 140vh;
            transition: .5s;
            @include flex(space-between,center,nowrap,column);
            .menu-collection{
                position: relative;
                width: 100%; height: 90vh;
                background-color: #fff;
                padding: 4rem;
                @include flex(space-between,flex-end,nowrap,row);
                .main-menu{
                    width: 100%;
                    p{
                        font-family: 'DM Serif Display', serif;
                        font-size: 1.2rem; color: $light-brown; font-weight: 400;
                        margin-bottom: 15px;
                    }
                    @keyframes menuUp {
                        0%{transform: translateY(100%);}
                        100%{transform: translateY(0%);}
                    }
                    div{
                        overflow: hidden;
                        margin-top: 10px;
                        span{
                            display: inline-block;
                            height: 100%;                        
                            position: relative;
                            transform: translateY(100%);
                            animation: menuUp 1s forwards;
                            a{
                                font-family: 'DM Serif Display', serif;
                                font-size: 3.5rem; color: #000; font-weight: 400;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                left: 0; bottom: 14px;
                                width: 120%; height: 1px;
                                background-color: rgba(0, 0, 0, 0);
                            }
                            &:hover{
                                font-style: italic;
                                &::after{
                                    background-color: #000;
                                }
                            }
                        }
                    }
                    div:nth-of-type(2)>span{animation-delay: .3s;}
                    div:nth-of-type(3)>span{animation-delay: .6s;}
                    div:nth-of-type(4)>span{animation-delay: .9s;}
                    div:nth-of-type(5)>span{animation-delay: 1.2s;}
                    div:nth-of-type(6)>span{animation-delay: 1.5s;}
                }
                .sub-menu{
                    width: 30%; height: 40vh;
                    align-self:flex-end;
                    border-left: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 2rem;
                    visibility: hidden;
                    @include flex(flex-end,flex-start,nowrap,column);

                    display: none;

                    p{
                        margin-top: 15px;
                        a{
                            font-family: 'DM Serif Display', serif;
                            font-size: 1.5rem; color: $font-grey; font-weight: 400;
                        }                    
                    }
                }
            }
            .hidden-contact{
                width: 100%; height: 50vh;
                background: url('../img/all_bg2.jpg') center center / cover no-repeat;
                padding: 3rem;
                padding-top: 3rem;
                div{
                    h4{
                        font-family: 'DM Serif Display', serif;
                        font-size: 1.3rem;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.2rem; color:rgb(17, 49, 31); font-weight: 400;
                        margin-bottom: 15px;
                    }
                    a>button{
                        padding: 15px 35px;
                        border: none;
                        background-color: rgb(146, 146, 146);
                        color: #fff; font-size: 1.2rem;
                        font-family: 'DM Serif Display', serif;
                        margin-top: 15px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    nav{
        display: none;
        span{
            padding: 3.5rem 0;
            position: relative;
            a{
                color: #fff; font-weight: 400; padding: 0 20px;
            }
            &::after{
                content:'';
                position: absolute;
                right: 0; bottom: 0;
                width: 0%; height: 2px;
                background-color: $light-brown;
                transform: translateX(50%);
                transition: .5s;
            }
            &:hover{
                &::after{
                    width: 100%;
                    transform: translateX(0%);
                }   
            }
        }
    }
    
    footer>div{
        position: static;
        left: 0; bottom: 0vh;
        width: 100%; height: 40vh;
        padding: 3rem;
        background-color: $bg-grey;
        transform: translateY(0);
        >div{
            width: 100%;
            @include flex(space-between,flex-start,nowrap,row);
        }   
        >a{
            position: absolute;
            right: 12rem; bottom: 10rem;
            display: none;
            img{
                width: 80%;
                transform: translateY(10vh);
            }
        }
    }
    .close{
        @include flex(center,center,nowrap,row);
        cursor: pointer;
        color: #fff;
        display: none;
        div{
            width: 20px; height: 20px;
            span{
                display: inline-block;
                width: 2px; height: 10px;
                background-color: #fff;
            }
            span:nth-child(1){
                transform: translateX(150%) rotate(45deg);
            }
            span:nth-child(2){
                transform: translateX(-150%) rotate(-45deg);
            }
        }
        p{color: #fff; font-weight: 400; letter-spacing: 1px;}
    
        &:hover{        
            div{
                span{background-color: $brown;}
            }
            p{color: $brown;}
        }
    }
    .info{
        p{
            color: $font-grey; font-weight: 500;
            margin-bottom: 10px; font-size: 0.8rem;
            span{
                display: inline-block;
                margin: 0 20px;
            }
            .space1{
                margin: 0 40px;
            }
            .space3{
                border-left: 1px solid $white-t;
                height: 10px;
            }
        }
        p:nth-child(1){
            a{color: rgba(255, 255, 255, 0.8); font-weight: 700;}
        }
        p:nth-child(2){
            margin: 30px 0;
            color: $brown; font-size: 1.4rem; font-weight: 900; font-size: 1rem;
        }
    }
}
