@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 5rem;
  font-family: 'DM Serif Display', serif;
  font-weight: 200;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

header > div {
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.5rem;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header > div .visible-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header > div .visible-menu .login {
  margin: 0 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95em;
}

header > div .visible-menu .login a {
  color: #000;
}

header > div .visible-menu .login span {
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 10px;
  margin: 0 10px;
}

header > div .visible-menu .burger {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  z-index: 100;
}

header > div .visible-menu .burger span {
  display: block;
  position: relative;
  width: 80%;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

header > div .visible-menu .burger span::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -300%;
  top: 0;
  background-color: #000;
}

header > div .visible-menu .burger span:nth-child(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

header > div .visible-menu .burger:hover span {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

header > div .visible-menu .burger .burger1.active {
  -webkit-transform: rotate(45deg) translateX(10px);
          transform: rotate(45deg) translateX(10px);
  background-color: #000;
}

header > div .visible-menu .burger .burger2.active {
  -webkit-transform: rotate(-45deg) translateX(10px);
          transform: rotate(-45deg) translateX(10px);
  background-color: #000;
}

header > div .hidden-menu-inactive {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

header > div .hidden-menu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header > div .hidden-menu {
  z-index: 30;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header > div .hidden-menu .menu-collection {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #fff;
  padding: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header > div .hidden-menu .menu-collection .main-menu {
  width: 70%;
}

header > div .hidden-menu .menu-collection .main-menu p {
  font-family: 'DM Serif Display', serif;
  font-size: 1.2rem;
  color: #c79c6c;
  font-weight: 400;
  margin-bottom: 15px;
}

@-webkit-keyframes menuUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes menuUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

header > div .hidden-menu .menu-collection .main-menu div {
  overflow: hidden;
  margin-top: 15px;
}

header > div .hidden-menu .menu-collection .main-menu div span {
  display: inline-block;
  height: 100%;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: menuUp 1s forwards;
          animation: menuUp 1s forwards;
}

header > div .hidden-menu .menu-collection .main-menu div span a {
  font-family: 'DM Serif Display', serif;
  font-size: 2.7rem;
  color: #000;
  font-weight: 400;
}

header > div .hidden-menu .menu-collection .main-menu div span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 120%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
}

header > div .hidden-menu .menu-collection .main-menu div span:hover {
  font-style: italic;
}

header > div .hidden-menu .menu-collection .main-menu div span:hover::after {
  background-color: #000;
}

header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(2) > span {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(3) > span {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(4) > span {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(5) > span {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(6) > span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

header > div .hidden-menu .menu-collection .sub-menu {
  width: 30%;
  height: 40vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header > div .hidden-menu .menu-collection .sub-menu p {
  margin-top: 15px;
}

header > div .hidden-menu .menu-collection .sub-menu p a {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5rem;
  color: #797877;
  font-weight: 400;
}

header > div .hidden-menu .hidden-contact {
  position: relative;
  width: 30%;
  height: 100%;
  background: url("../img/all_bg2.jpg") center center/cover no-repeat;
  padding: 3rem;
  padding-top: 8rem;
}

header > div .hidden-menu .hidden-contact div h4 {
  font-family: 'DM Serif Display', serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

header > div .hidden-menu .hidden-contact div p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #11311f;
  font-weight: 400;
  margin-bottom: 50px;
}

header > div .hidden-menu .hidden-contact div a > button {
  padding: 12px 35px;
  border: none;
  background-color: #929292;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'DM Serif Display', serif;
  margin-top: 30px;
  margin-right: 10px;
  cursor: pointer;
}

nav span {
  padding: 3.5rem 0;
  position: relative;
}

nav span a {
  color: #000;
  font-weight: 400;
  padding: 0 20px;
}

nav span::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #c79c6c;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: .5s;
  transition: .5s;
}

nav span:hover::after {
  width: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

footer > div {
  position: relative;
  left: 0;
  bottom: 0vh;
  width: 100%;
  height: 40vh;
  padding: 4rem 20rem;
  background-color: #302f2e;
}

footer > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer > div > a {
  position: absolute;
  right: 12rem;
  bottom: 10rem;
}

footer > div > a img {
  width: 80%;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
}

.info p {
  color: #797877;
  font-weight: 500;
  margin-bottom: 10px;
}

.info p span {
  display: inline-block;
  margin: 0 20px;
}

.info p .space1 {
  margin: 0 40px;
}

.info p .space3 {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 10px;
}

.info p:nth-child(1) a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.info p:nth-child(2) {
  margin: 30px 0;
  color: #a5805a;
  font-size: 1.4rem;
  font-weight: 900;
}

@media (min-width: 800px) and (max-width: 1280px) {
  header > div {
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.7rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div a img {
    width: 60%;
  }
  header > div .visible-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div .visible-menu .login {
    margin: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
  }
  header > div .visible-menu .login a {
    color: #000;
  }
  header > div .visible-menu .login span {
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 10px;
    margin: 0 10px;
  }
  header > div .visible-menu .burger {
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
  }
  header > div .visible-menu .burger span {
    display: block;
    position: relative;
    width: 80%;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header > div .visible-menu .burger span::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -300%;
    top: 0;
    background-color: #000;
  }
  header > div .visible-menu .burger span:nth-child(2) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  header > div .visible-menu .burger:hover span {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  header > div .visible-menu .burger .burger1.active {
    -webkit-transform: rotate(45deg) translateX(10px);
            transform: rotate(45deg) translateX(10px);
    background-color: #000;
  }
  header > div .visible-menu .burger .burger2.active {
    -webkit-transform: rotate(-45deg) translateX(10px);
            transform: rotate(-45deg) translateX(10px);
    background-color: #000;
  }
  header > div .hidden-menu-inactive {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header > div .hidden-menu-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header > div .hidden-menu {
    z-index: 30;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div .hidden-menu .menu-collection {
    position: relative;
    width: 65%;
    height: 100%;
    background-color: #fff;
    padding: 8rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div .hidden-menu .menu-collection .main-menu {
    width: 100%;
  }
  header > div .hidden-menu .menu-collection .main-menu p {
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
    color: #c79c6c;
    font-weight: 400;
    margin-bottom: 15px;
  }
  @-webkit-keyframes menuUp {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes menuUp {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  header > div .hidden-menu .menu-collection .main-menu div {
    overflow: hidden;
    margin-top: 10px;
  }
  header > div .hidden-menu .menu-collection .main-menu div span {
    display: inline-block;
    height: 100%;
    position: relative;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-animation: menuUp 1s forwards;
            animation: menuUp 1s forwards;
  }
  header > div .hidden-menu .menu-collection .main-menu div span a {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    color: #000;
    font-weight: 400;
  }
  header > div .hidden-menu .menu-collection .main-menu div span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 120%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  header > div .hidden-menu .menu-collection .main-menu div span:hover {
    font-style: italic;
  }
  header > div .hidden-menu .menu-collection .main-menu div span:hover::after {
    background-color: #000;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(2) > span {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(3) > span {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(4) > span {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(5) > span {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(6) > span {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  header > div .hidden-menu .menu-collection .sub-menu {
    width: 30%;
    height: 40vh;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  header > div .hidden-menu .menu-collection .sub-menu p {
    margin-top: 15px;
  }
  header > div .hidden-menu .menu-collection .sub-menu p a {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #797877;
    font-weight: 400;
  }
  header > div .hidden-menu .hidden-contact {
    width: 35%;
    height: 100%;
    background: url("../img/all_bg2.jpg") center center/cover no-repeat;
    padding: 3rem;
    padding-top: 8rem;
  }
  header > div .hidden-menu .hidden-contact div h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  header > div .hidden-menu .hidden-contact div p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #11311f;
    font-weight: 400;
    margin-bottom: 30px;
  }
  header > div .hidden-menu .hidden-contact div a > button {
    padding: 15px 35px;
    border: none;
    background-color: #929292;
    color: #fff;
    font-size: 0.8rem;
    font-family: 'DM Serif Display', serif;
    margin-top: 30px;
    margin-right: 5px;
    cursor: pointer;
  }
  nav {
    display: none;
  }
  nav span {
    padding: 3.5rem 0;
    position: relative;
  }
  nav span a {
    color: #fff;
    font-weight: 400;
    padding: 0 20px;
  }
  nav span::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #c79c6c;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  nav span:hover::after {
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  footer > div {
    position: relative;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: 45vh;
    padding: 3em;
    background-color: #302f2e;
  }
  footer > div > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer > div > a {
    position: absolute;
    right: 12rem;
    bottom: 10rem;
    display: none;
  }
  footer > div > a img {
    width: 80%;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  .info p {
    color: #797877;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .info p span {
    display: inline-block;
    margin: 0 20px;
  }
  .info p .space1 {
    margin: 0 40px;
  }
  .info p .space3 {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 10px;
  }
  .info p:nth-child(1) a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
  }
  .info p:nth-child(2) {
    margin: 30px 0;
    color: #a5805a;
    font-size: 1.3rem;
    font-weight: 900;
  }
}

@media (max-width: 800px) {
  header > div {
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1.7rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  header > div a img {
    width: 70%;
  }
  header > div .visible-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div .visible-menu .login {
    margin: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    display: none;
  }
  header > div .visible-menu .login a {
    color: #000;
  }
  header > div .visible-menu .login span {
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 10px;
    margin: 0 10px;
  }
  header > div .visible-menu .burger {
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
  }
  header > div .visible-menu .burger span {
    display: block;
    position: relative;
    width: 80%;
    height: 2px;
    background-color: #000;
    margin: 7px 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header > div .visible-menu .burger span::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -300%;
    top: 0;
    background-color: #000;
  }
  header > div .visible-menu .burger span:nth-child(2) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  header > div .visible-menu .burger:hover span {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
  header > div .visible-menu .burger .burger1.active {
    -webkit-transform: rotate(45deg) translateX(10px);
            transform: rotate(45deg) translateX(10px);
    background-color: #000;
  }
  header > div .visible-menu .burger .burger2.active {
    -webkit-transform: rotate(-45deg) translateX(10px);
            transform: rotate(-45deg) translateX(10px);
    background-color: #000;
  }
  header > div .hidden-menu-inactive {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header > div .hidden-menu-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header > div .hidden-menu {
    z-index: 30;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 140vh;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header > div .hidden-menu .menu-collection {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    padding: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header > div .hidden-menu .menu-collection .main-menu {
    width: 100%;
  }
  header > div .hidden-menu .menu-collection .main-menu p {
    font-family: 'DM Serif Display', serif;
    font-size: 1.2rem;
    color: #c79c6c;
    font-weight: 400;
    margin-bottom: 15px;
  }
  @-webkit-keyframes menuUp {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes menuUp {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  header > div .hidden-menu .menu-collection .main-menu div {
    overflow: hidden;
    margin-top: 10px;
  }
  header > div .hidden-menu .menu-collection .main-menu div span {
    display: inline-block;
    height: 100%;
    position: relative;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-animation: menuUp 1s forwards;
            animation: menuUp 1s forwards;
  }
  header > div .hidden-menu .menu-collection .main-menu div span a {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    color: #000;
    font-weight: 400;
  }
  header > div .hidden-menu .menu-collection .main-menu div span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 120%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0);
  }
  header > div .hidden-menu .menu-collection .main-menu div span:hover {
    font-style: italic;
  }
  header > div .hidden-menu .menu-collection .main-menu div span:hover::after {
    background-color: #000;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(2) > span {
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(3) > span {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(4) > span {
    -webkit-animation-delay: .9s;
            animation-delay: .9s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(5) > span {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  header > div .hidden-menu .menu-collection .main-menu div:nth-of-type(6) > span {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  header > div .hidden-menu .menu-collection .sub-menu {
    width: 30%;
    height: 40vh;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  header > div .hidden-menu .menu-collection .sub-menu p {
    margin-top: 15px;
  }
  header > div .hidden-menu .menu-collection .sub-menu p a {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #797877;
    font-weight: 400;
  }
  header > div .hidden-menu .hidden-contact {
    width: 100%;
    height: 50vh;
    background: url("../img/all_bg2.jpg") center center/cover no-repeat;
    padding: 3rem;
    padding-top: 3rem;
  }
  header > div .hidden-menu .hidden-contact div h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  header > div .hidden-menu .hidden-contact div p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #11311f;
    font-weight: 400;
    margin-bottom: 15px;
  }
  header > div .hidden-menu .hidden-contact div a > button {
    padding: 15px 35px;
    border: none;
    background-color: #929292;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'DM Serif Display', serif;
    margin-top: 15px;
    margin-right: 5px;
    cursor: pointer;
  }
  nav {
    display: none;
  }
  nav span {
    padding: 3.5rem 0;
    position: relative;
  }
  nav span a {
    color: #fff;
    font-weight: 400;
    padding: 0 20px;
  }
  nav span::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #c79c6c;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  nav span:hover::after {
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  footer > div {
    position: static;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: 40vh;
    padding: 3rem;
    background-color: #302f2e;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  footer > div > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer > div > a {
    position: absolute;
    right: 12rem;
    bottom: 10rem;
    display: none;
  }
  footer > div > a img {
    width: 80%;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  .close div {
    width: 20px;
    height: 20px;
  }
  .close div span {
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #fff;
  }
  .close div span:nth-child(1) {
    -webkit-transform: translateX(150%) rotate(45deg);
            transform: translateX(150%) rotate(45deg);
  }
  .close div span:nth-child(2) {
    -webkit-transform: translateX(-150%) rotate(-45deg);
            transform: translateX(-150%) rotate(-45deg);
  }
  .close p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .close:hover div span {
    background-color: #a5805a;
  }
  .close:hover p {
    color: #a5805a;
  }
  .info p {
    color: #797877;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .info p span {
    display: inline-block;
    margin: 0 20px;
  }
  .info p .space1 {
    margin: 0 40px;
  }
  .info p .space3 {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 10px;
  }
  .info p:nth-child(1) a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
  }
  .info p:nth-child(2) {
    margin: 30px 0;
    color: #a5805a;
    font-size: 1.4rem;
    font-weight: 900;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=inc2.css.map */